# 로컬 개발 전용 예시 값. 실제 환경에서는 별도 secret 저장소 사용 필요
POSTGRES_DB=bluearchive
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-with-local-password
POSTGRES_PORT=5433

REDIS_PORT=6380

JWT_KEY=THIS_IS_SUPER_SECRET_KEY_FOR_BLUE_SERVER
JWT_ISSUER=blueServer
JWT_AUDIENCE=blueServer
JWT_ACCESS_TOKEN_DAYS=7

API_PORT=5201
GAME_PORT=7777

ELASTIC_VERSION=9.4.2
ELASTICSEARCH_PORT=9200
KIBANA_PORT=5601
LOGSTASH_API_PORT=9600
